.rootFolderInput {
    position: absolute;
    top: 56px;
    left: 13px;
    z-index: 10;

    .input {
        width: 16rem;
        background-color: rgba(255, 255, 255, 0.12);
        /* background-color: var(--ifm-pre-background); */
        border-color: #303436;
    }
}

.rootFolderInput.application {
    top: 87px;
    left: 48px;
}

.input {
    font-size: calc(var(--ifm-font-size-base) / 1.1);
    padding: 0.2rem 0.4rem;
    border-color: var(--ifm-color-content-secondary);
    border-radius: 2px;
    border-style: solid;
    border-width: var(--ifm-global-border-width);
}

.input.application {
    width: 14rem;
}
